# VStudio Directories
*.vs

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
*.ps1

#Other Directories
JoyReceiver++/JoyReceiver++/
JoyReceiver++/x64
JoyReceiver++/Release
JoyReceiver++/Debug
JoySender++/JoySender++/
JoySender++/x64
JoySender++/Release
JoySender++/Debug