# VStudio Directories
*.vs

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.aps
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
*.ps1

# Other Data
*.json
*.theme

# Other Directories
JoyReceiver++/JoyReceiver++/
JoyReceiver++/x64
JoyReceiver++/Release
JoyReceiver++/Debug
JoyReceiver_tUI/x64
JoyReceiver_tUI/Release
JoyReceiver_tUI/Debug
JoySender++/JoySender++/
JoySender++/x64
JoySender++/Release
JoySender++/Debug
JoySender_tUI/x64
JoySender_tUI/Release
JoySender_tUI/Debug